<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>All about ejs' and stuff</title>

</head>

<body>
  <h1>All about ejs' and stuff</h1>
  <ul>
    <% thingsInMyBrain.forEach(thing) {%>
    <li><%= thing %></li>
  <% } %>
  <ul>
  
</body>
</html>
